.box2 {
  margin: 0%;
  padding: 0%;
  width: 90%;
}
.heading {
  display: flex;
}
.left {
  border: 1px solid black;
  margin-top: 2%;
  margin-bottom: 1%;
  position: relative;
  margin-left: 500px;
  margin-right: 50px;
  width: 100px;
}

#person {
  padding: 7%;
  padding-right: 10px;
}
#file {
  padding: 7%;
  padding-left: 25px;
}

.empty {
  margin: 25% 0;
}
.board {
  height: 150px;
  margin: 0% 50px;
}

.tabs {
  display: flex;
}

.tabbtn {
  background-color: black;
  color: hsl(0, 0%, 100%);
  width: 170px;
  height: 20px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 5px;
  margin: 2px;
}

.tabbtn img {
  position: relative;
  left: 90px;
  height: 12px;
}
.active {
  background-color: #6f8c94;
}
.tabContent {
  font-size: 150%;
  font-weight: bolder;
  text-transform: uppercase;
  margin: 20px;
}
