.layout {
  display: flex;
}

.tabbtn {
  background-color: black;
  color: #ffffff;
  width: 200px;
  padding: 5px;
}

.tabbtn img {
  margin-left: 120px;
}
.active {
  background-color: #6f8c94;
}

.hidden {
  display: none;
}
.show {
  display: inherit;
}
